.cont-h1{
    text-align: center;
}
.cotecForm{
    text-align: center;
    margin: 20px auto;
    width: 200px;
    height: 200px;
}
/* .cotecForm form{
    width: 150px;
    height: 150px;
} */

.cotecForm form input{
    border: none;
    margin: 10px auto;
    border-radius: 20px;
    background-color: orange;
    padding: 10px;
    font-size: 20px;
    width: 200px;

}
.bt {
     /* border: none; */
    border-radius: 15px;
    width: 150px;
    /* padding: 5px; */
     font-size: 20px;
}